
body {
    background: #0f2027; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0f2027, #203a43, #2c5364); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Lato', sans-serif;
    color: white;
}

h1 {
    color: white;;
    text-align: left;
    font-size: 4em;
    margin: 0px;
    margin-bottom: 50px;
}

.container {
    padding: 0px;
    margin: auto;
    margin-top: 5%;
    width: 70%;
    padding: 20px;
    border-spacing: 10px;
    text-align: center;
    
  }

label {
    float: left;
    font-size: 1.2em;
}

input[type="number"] {
    padding: 15px;
    border: none;
    background: transparent;
    color: white;
    font-size: 1.1em;
}
.currencyinput {
    border: 1px inset #ccc;
    width: 35%;
    height: 20px;
    border-radius: 3px;
    padding: 15px;
    float: center;
    border: none;
    background: transparent;
    border: 1px solid white;
    color: white;
    
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

input[type="button"] {
    border: 1px #ccc;
    border-radius: 3px;
    margin: 20px;
    width: 10rem;
    letter-spacing: 2.5px;
    padding: 15px;
    float: center;
    background: transparent;
    border: 1px solid white;
    color: white;
    font-size: 1.3em;
    
}

#button:hover {background-color: #2c5364}

#button:active {
    background-color: #0f2027;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }



table {
   font-size: 1.3em;
   /* border: 1px solid white; */
    width: 100%;
    table-layout: fixed;
}

th {
    height: 50px;
    font-weight: 300;
    margin: 5px;
    padding: 15px;
}